<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.hwrky.shop.dao.ProductMapper">
	<resultMap id="productMap" type="product">
        <id property="id" column="id"/>
        <result property="product_type" column="product_type"/>
        <result property="state" column="state"/>
        <result property="product_name" column="product_name"/>
        <result property="product_title" column="product_title"/>
        <result property="product_price" column="product_price"/>
        <result property="product_id" column="product_id"/>
        <result property="product_sales" column="product_sales"/>
        <result property="product_date" column="product_date"/>
        <result property="product_url" column="product_url"/>
    </resultMap>
    
    <insert id="insertOne" parameterType="product">
    
     INSERT INTO product_info(id,product_type,state,product_name,product_title,product_price,product_id,product_sales,product_date,product_url)
            VALUES (
            null,
            #{product.product_type},
            #{product.state},
            #{product.product_name},
            #{product.product_title},
            #{product.product_price},
            #{product.product_id},
            #{product.product_sales},
            #{product.product_date},
            #{product.product_url})
			
    </insert>
    
    <select id="selectAll" resultMap="productMap">
        <!--  SELECT user_id,user_name,user_nickname,user_password,user_realname,user_gender,user_birthday,user_profile_picture_src,user_address,user_homeplace FROM user-->
        SELECT id,product_type,state,product_name,product_title,product_price,product_id,product_sales,product_date,product_url FROM product_info
    </select>
    
</mapper>